body { padding-top: 20px; padding-bottom: 60px; }

.container { margin: 0 auto; max-width: 1000px; }
.container > hr { margin: 60px 0; }

.jumbotron { margin: 80px 0; text-align: center; }
.jumbotron h1 { font-size: 100px; line-height: 1; }
.jumbotron .lead { font-size: 24px; line-height: 1.25; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }

.marketing { margin: 60px 0; }
.marketing p + h4 { margin-top: 28px; } 

.navbar .navbar-inner { padding: 0; }
.navbar .nav { margin: 0; display: table; width: 100%; }
.navbar .nav li { display: table-cell; width: 1%; float: none; }	
.navbar .nav li a { font-weight: bold; text-align: center; border-left: 1px solid rgba(255,255,255,.75); border-right: 1px solid rgba(0,0,0,.1); }
.navbar .nav li:first-child a { border-left: 0; border-radius: 3px 0 0 3px; }
.navbar .nav li:last-child a { border-right: 0; border-radius: 0 3px 3px 0; }

.errors { color: #b94a48; }

.register-button-container { padding-top: 23px; text-align: center; }

.footer { margin-top: 100px; }

#bike-img { width: 80%; margin-top: -60px; margin-bottom: -60px; margin-left: -30px; }
#car-img { width: 80%; margin-top: -60px; margin-bottom: -60px; margin-left: -10px; }
#money-img { width: 40%; margin-top: -60px; margin-bottom: -60px; height:253px; margin-left: 10px; }

#login-btn { margin-top: 15px; }
#forgot-password-link { margin-top: 15px; }
#change-pass-btn { margin-top: 15px; }

.title-box { position: relative; }
.title-box-right { position: absolute; right: 0px; top: 8px; }

#new-reimbursement-btn { margin-top: 15px; }
#new-reimbursement-item-btn { margin-top: 15px; }
