{% extends "base.html" %}

{% block content %}
<hr>
<form action="" method="POST">
  {{ form.hidden_tag() }}
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
      </div>
      <div class="span4">
	<label>Email</label>
	{{ forms.input(form.email, class="span12") }}
	<label>Password</label>
	{{ forms.input(form.password, class="span12") }}
	<button id="login-btn" class="btn btn-success btn-large pull-left" type="submit">Login</button>
        {% if password_link %}
        <p class="pull-right" id="forgot-password-link"><a href="{{ password_link }}">Forgot your password?</a></p>
        {% endif %}
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</form>
{% endblock %}
