{% extends "base.html" %}

{% block content %}
<hr>
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
      </div>
      <div class="span4">
	<label>Item</label>
	{{ forms.input(form.reason, class="span12", id="item-reason") }}
	<label>Total cost</label>
	{{ forms.input(form.amount, class="span12") }}
	<label>Receipt PDF</label>
        {{ forms.input(form.receipt, class="span12") }}
	<button id="new-reimbursement-item-btn" class="btn btn-success pull-left" type="submit">Add item</button>
      </div>
      <div class="span4">
      </div>
    </div>
  </div>
</form>
{% endblock %}
