{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="well">
    <a href="{{ url_for('new_reimbursement') }}"><button class="btn btn-success"><i class="icon-plus-sign icon-white"></i> New reimbursement request</button></a>
  </div>
  <table class="table">
    <thead>
      <tr>
	<th></th>
	<th>Related race</th>
	<th>Comments</th>
	<th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for request in requests %}
      <tr class='{% if request.status=="Pending" %}info{% elif request.status=="Processed" %}success{% else %}error{% endif %}'>
	<td>
	  <div class="btn-toolbar pull-left request-btns">
	    <div class="btn-group">
	      <a class="btn" href="{{ url_for('edit_reimbursement', request_id=request.id) }}"><i class="icon-edit"></i></a>
	      <a class="btn" href="#"><i class="icon-remove"></i></a>
	    </div>
	  </div>
	  <p class="request-name"><strong>{{ request.name }}</strong></p>
	</td>
	<td><p class="request-info">{% if request.race %}{{ request.race.name }}{% else %}<em>no race</em>{% endif %}</p></td>
	<td><p class="request-info">{{ request.comments }}</p></td>
	<td><p class="request-info">{{ request.status }}</p></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
